/* Reset default browser styles */
body 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.only-button 
{
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: none;
    position: absolute; /* Position "Only" button absolutely */
    top: 50%; /* Vertically center within label */
    transform: translateY(-50%); /* Center vertically */
}

.magnitude-filter-label 
{
    display: inline-block; /* Ensure label occupies space */
    position: relative; /* Establish positioning context for absolute positioning */
    cursor: pointer; /* Change cursor on hover */
}

.magnitude-filter-label:hover .only-button 
{
    display: inline-block; /* Show the "Only" button */
}

.dark-mode .only-button 
{
    background-color: #666;
    color: #fff;
}

.magnitude-filter 
{
    margin-right: 5px;
}

#statsContainer 
{
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#algorithmBox 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#algorithmBox h2 
{
    color: #fff;
}

.radio-container 
{
    display: flex;
    justify-content: center;
}

.radio-container label 
{
    display: block;
    margin-right: 20px;
    color: #ccc;
}

/* Runtime text styling */
.runtime 
{
    display: block; /* Display as block to ensure each runtime appears on a new line */
    text-align: center; /* Center-align the text within the element */
    margin-top: 5px; /* Adjust top margin as needed */
    font-size: 13px;
}

/* Button Styles */
#generateButton 
{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(18, 108, 253);
    color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Adjust the top margin for spacing */
}

.dark-mode #generateButton 
{
    background-color: rgb(18, 108, 253);
}

.dark-mode #generateButton:hover 
{
    background-color: #333;
}

#generateButton:hover 
{
    background-color: #222;
}

/* Legend Container */
#legendContainer 
{
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Legend Title */
#legendContainer h2 
{
    margin-top: 0;
    color: #ffffff;
}

/* Legend Item */
.legend-item 
{
    margin-bottom: 10px;
    color: #ccc;
}

/* Legend Marker (Color Box) */
.legend-marker 
{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Dark Mode Styles for Legend */
.dark-mode #legendContainer 
{
    background-color: #222;
    color: #eee;
}

#mapContainer 
{
    flex: 2;
    max-width: calc(100% - 340px); /* Adjust width to fit remaining space */
    margin-right: 20px;
}

#map 
{
    height: 1000px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#controlsContainer 
{
    flex: 1;
    max-width: 300px;
}

#yearSliderContainer,
#filterContainer 
{
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

h2 
{
    margin-top: 0;
    color: #ffffff;
}

#yearSliderContainer 
{
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

#yearSlider 
{
    width: 100%; /* Ensure the slider spans the container's width */
    margin-bottom: 30px; /* Adjust the margin-top to move the slider down */
}

#magnitudeFilters label 
{
    display: block;
    margin-bottom: 10px;
    color: #ccc;
}

#rankingTables 
{
    margin-top: 20px;
}

table 
{
    width: 100%;
    border-collapse: collapse;
}

table, th, td 
{
    border: 1px solid #666;
    padding: 12px;
    text-align: left;
}

th 
{
    background-color: #555;
    color: #fff;
}

/* Dark Mode Styles */
.dark-mode 
{
    background-color: #111;
    color: #eee;
}

.dark-mode header 
{
    background-color: #222;
    color: #fff;
}

.dark-mode #statsContainer,
.dark-mode #yearSliderContainer,
.dark-mode #filterContainer,
.dark-mode #algorithmBox 
{
    background-color: #222;
    color: #eee;
}

.dark-mode table 
{
    border-color: #444;
}

.dark-mode th 
{
    background-color: #333;
}

/* Google Maps Info Window */
.gm-style-iw 
{
    color: #333;
}

/* Dark Mode Styles for Info Window */
.dark-mode .gm-style-iw 
{
    color: #333;
}

/* Modern Button Styles */
button#darkModeToggle 
{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #333; /* Match dark mode background */
    color: #fff;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    font-family: 'Roboto', Arial, sans-serif;
}

button#darkModeToggle:hover 
{
    background-color: #222; /* Darken hover color */
}

.earth-risk-title 
{
    color: #fff;
    font-size:  32px;
    margin: 0;
}